.speechBubble {
  width: 150px;
  height: 100px;
  background-color: white;
  border: 2px solid darkred;
  border-radius: 50%;
  position: relative;
  display: inline-block;
}

.arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid white;
}

.arrowDown {
  bottom: -15px;
  left: 30px;
}

.arrowUp {
  top: -15px;
  left: 30px;
  transform: rotate(180deg); /* 上向きにするために回転 */
}

.arrowLeft {
  left: -15px;
  bottom: 30px;
  transform: rotate(90deg); /* 左向きにするために回転 */
}

.arrowRight {
  right: -15px;
  bottom: 30px;
  transform: rotate(-90deg); /* 右向きにするために回転 */
}
