@property --count {
  syntax: '<integer>';
  inherits: false;
  initial-value: 0;
}

.countUp {
  counter-set: countUp var(--count);
  animation: countUp 4.6s 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(1, 0.4, 0.2, 1);
  font-variant-numeric: tabular-nums;
  font-size: 3rem;
  position: relative;
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
}

.countUp::after {
  content: counter(countUp);
}

@keyframes countUp {
  100% {
    --count: 1000000000;
  }
}

.text {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  animation: textFade 1.5s infinite;
  color: black;
}

@keyframes textFade {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

body {
  font-family: 'Roboto Mono', monospace;
}

.lpage {
  display: grid;
  min-height: 100vh;
  place-items: center;
}
